<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/sda_db</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.username">javaee21</property>
        <property name="connection.password">javaee21</property>

        <property name="connection.pool_size">3</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- use it carefully!!! -->
        <!-- use it carefully!!! -->
        <!-- use it carefully!!! -->
        <!-- use it carefully!!! -->
        <!-- use it carefully!!! -->
        <!-- use it carefully!!! -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="hibernate.entity.Car"/>
        <mapping class="hibernate.entity.Advertisement"/>

        <mapping class="homework.entity.Employee"/>
        <mapping class="embeddable.Mammal"/>
        <mapping class="embeddedid.Teacher"/>
        <mapping class="secondarytable.BookType"/>
        <mapping class="secondarytable.Book"/>
        <mapping class="relations.onetoone.StudentBook"/>
        <mapping class="relations.onetoone.Student"/>

        <mapping class="relations.onetomany.Client"/>
        <mapping class="relations.onetomany.Order"/>

    </session-factory>
</hibernate-configuration>